@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
                                                                                            
<ul class="navbar-nav">

    <li class="dropleft">
      <button class="btn btn-outline-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <img src="~/images/user.png" alt="">
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                @if (SignInManager.IsSignedIn(User))
                {
                    <li class="dropdown-item">
                        <a  class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity?.Name!</a>
                    </li>
                    <li><hr class="dropdown-divider" /></li>
                    <li><a class="text-dark nav-link" href="@Url.Action("ListUsers", "Administration")">Users</a></li>
                    <li><a class="text-dark nav-link" href="@Url.Action("ListRoles", "Administration")">Roles</a></li>
                    <li>
                    <a class="nav-link text-dark" asp-action="index" asp-controller="StudentStatus">Student Statuses</a>
                    </li>
                    <li>
                    <a class="nav-link text-dark" asp-action="index" asp-controller="ScheduledClassStatus">Scheduled Class Statuses</a>
                    </li>

                    <li><hr class="dropdown-divider" /></li>
                    <li class="dropdown-item">
                        <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                            <button  type="submit" class="nav-link btn btn-link text-dark">Logout</button>
                        </form>
                    </li>
                }
                else
                {
                    <li class="dropdown-item">
                        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
                    </li>
                    <li class="dropdown-item">
                        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
                    </li>

                }   
      </ul>
    </li>
</ul>
