@{
    ViewData["Title"] = "Home";
}

<!-- do section -->
@*@section hero{
            <section class=" slider_section position-relative">
            <div class="container">
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row">
                                <div class="col">
                                    <div class="detail-box">
                                        <div>
                                            <h2>
                                                welcome to

                                            </h2>
                                            <h1>
                                                web agency
                                            </h1>
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                                                labore
                                            </p>
                                            <div class="">
                                                <a href="">
                                                    Contact us
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">
                                <div class="col">
                                    <div class="detail-box">
                                        <div>
                                            <h2>
                                                welcome to

                                            </h2>
                                            <h1>
                                                web agency
                                            </h1>
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                                                labore
                                            </p>
                                            <div class="">
                                                <a href="">
                                                    Contact us
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">
                                <div class="col">
                                    <div class="detail-box">
                                        <div>
                                            <h2>
                                                welcome to

                                            </h2>
                                            <h1>
                                                web agency
                                            </h1>
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                                                labore
                                            </p>
                                            <div class="">
                                                <a href="">
                                                    Contact us
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>
        <!-- end slider section -->
}*@

<section class="do_section layout_padding">
    <div class="container">
        <div class="heading_container">
            <h2>
                What we do
            </h2>
            <p>
                Here are some of the Technologies used in this project.
            </p>
        </div>
        <div class="do_container">
            <a href="https://learn.microsoft.com/en-us/sql/ssms/sql-server-management-studio-ssms?view=sql-server-ver16" target="_blank" rel="noreferrer" class="box arrow-start arrow_bg">
                <div class="img-box">
                    <img src="images/icons8-sql-60.png" alt="">
                </div>
                <div class="detail-box">
                    <h6>
                        SQL
                    </h6>
                </div>
            </a>
            <a href="https://html.com/html5/" target="_blank" rel="noreferrer" class="box arrow-middle arrow_bg">
                <div class="img-box">
                    <img src="images/icons8-html-5-500.png" alt="">
                </div>
                <div class="detail-box">
                    <h6>
                        Html5
                    </h6>
                </div>
            </a>
            <a href="https://dotnet.microsoft.com/en-us/apps/aspnet/mvc" target="_blank" rel="noreferrer" class="box arrow-middle arrow_bg">
                <div class="img-box">
                    <img src="images/icons8-development-100.png" alt="">
                </div>
                <div class="detail-box">
                    <h6>
                        MVC
                    </h6>
                </div>
            </a>
            <a href="https://www.w3.org/Style/CSS/Overview.en.html" target="_blank" rel="noreferrer" class="box arrow-end arrow_bg">
                <div class="img-box">
                    <img src="images/icons8-css-500.png" alt="">
                </div>
                <div class="detail-box">
                    <h6>
                        Css
                    </h6>
                </div>
            </a>
            <a href="https://www.javascript.com/" target="_blank" rel="noreferrer" class="box ">
                <div class="img-box">
                    <img src="images/icons8-javascript-100.png" alt="">
                </div>
                <div class="detail-box">
                    <h6>
                        JavaScript
                    </h6>
                </div>
            </a>
        </div>
    </div>
</section>

<!-- end do section -->

<div class="container text-center mb-5">

    <h5>To view documentation for this project downlaod here:</h5>
    <a href="~/Files/SATdocumentation.docx" class="btn btn-dark">Download</a>

</div>

<!-- who section -->

<section class="who_section ">
    <div class="container">
        <div class="row my-5">
            <div class="col-md-4">
                <div class="img-box">
                    <img src="images/Aliciavillegas.jpg" alt="">
                </div>
            </div>
            <div class="col-md-5 move-left">
                <div class="detail-box">
                    <div class="heading_container">
                        <h2>
                            Alicia Villegas
                        </h2>
                    </div>
                    <p>
                        I am a Full Stack Web Developer attending Centriq to build a strong foundation of programming languages, with a special interest in .NET MVC and SQL. I have a diverse background with over 15 years in professional photography and retail management.
                        <br />
                        <br />
                        When I'm not coding you can find me walking dogs around Kansas City, collecting vinyl, or playing with my dogs Gizmo and Wilson.
                        <br />
                        <br />
                        <br />
                        <span style="float: right"> ~Alicia Villegas</span>
                    </p>
                    <div>
                        <a href="http://www.aliciavillegas.net">
                            Read More
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row my-5 move-right">
            <div class="col-md-5 offset-2 move-right">
                <div class="detail-box">
                    <div class="heading_container">
                        <h2>
                            Gene Cathcart
                        </h2>
                    </div>
                    <p>
                        I am a Full Stack Web Developer that is currently attending Centriq Training to learn the principles of modern web design. I
                        have been coding for 10 years and have been trained in the use of HTML, CSS, JavaScript, C#, Java, and SQL. It is my goal to
                        join the world of video game development and to work on an MMO. I currently work as an IT support technician and have a
                        passion for working with computers.
                        <br />
                        <br />
                        <br />
                        <span style="float: right"> ~Gene Cathcart</span>
                    </p>
                    <div>
                        <a href="http://www.genecathcart.com">
                            Read More
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="img-box move-right">
                    <img class="" src="images/Gene.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</section>

<!-- end who section -->
